src/main/resources/schemas/collection.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://www.boardgamegeek.com/common"
           xmlns:collection="http://www.boardgamegeek.com/collection"
           targetNamespace="http://www.boardgamegeek.com/collection"
           elementFormDefault="qualified">

  <xs:simpleType name="itemTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="thing"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="itemSubtypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="boardgame"/>
      <xs:enumeration value="boardgameexpansion"/>
      <xs:enumeration value="boardgameaccessory"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="versionTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="boardgameversion"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="versionNameTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="primary"/>
      <xs:enumeration value="alternate"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="linkTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="boardgameversion"/>
      <xs:enumeration value="boardgamepublisher"/>
      <xs:enumeration value="boardgameartist"/>
      <xs:enumeration value="language"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rankTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="subtype"/>
      <xs:enumeration value="family"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="name">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="sortindex" type="common:positiveInteger"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="versionName">
    <xs:attribute name="type" type="collection:versionNameTypeEnum"/>
    <xs:attribute name="sortindex" type="common:positiveInteger"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="link">
    <xs:attribute name="type" type="collection:linkTypeEnum"/>
    <xs:attribute name="id" type="xs:integer"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="inbound" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="rank">
    <xs:attribute name="type" type="collection:rankTypeEnum"/>
    <xs:attribute name="id" type="xs:integer"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="friendlyname" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="bayesaverage" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="ranks">
    <xs:sequence>
      <xs:element name="rank" type="collection:rank" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rating">
    <xs:sequence>
      <xs:element name="usersrated" type="common:positiveIntegerValue"/>
      <xs:element name="average" type="common:decimalValue"/>
      <xs:element name="bayesaverage" type="common:decimalValue"/>
      <xs:element name="stddev" type="common:decimalValue"/>
      <xs:element name="median" type="common:decimalValue"/>
      <xs:element name="ranks" type="collection:ranks"/>
    </xs:sequence>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="stats">
    <xs:sequence>
      <xs:element name="rating" type="collection:rating"/>
    </xs:sequence>
    <xs:attribute name="minplayers" type="common:positiveInteger"/>
    <xs:attribute name="maxplayers" type="common:positiveInteger"/>
    <xs:attribute name="minplaytime" type="common:positiveInteger"/>
    <xs:attribute name="maxplaytime" type="common:positiveInteger"/>
    <xs:attribute name="playingtime" type="common:positiveInteger"/>
    <xs:attribute name="numowned" type="common:positiveInteger"/>
  </xs:complexType>

  <xs:complexType name="status">
    <xs:attribute name="own" type="common:booleanInteger"/>
    <xs:attribute name="prevowned" type="common:booleanInteger"/>
    <xs:attribute name="fortrade" type="common:booleanInteger"/>
    <xs:attribute name="want" type="common:booleanInteger"/>
    <xs:attribute name="wanttoplay" type="common:booleanInteger"/>
    <xs:attribute name="wanttobuy" type="common:booleanInteger"/>
    <xs:attribute name="wishlist" type="common:booleanInteger"/>
    <xs:attribute name="preordered" type="common:booleanInteger"/>
    <xs:attribute name="lastmodified" type="common:localDateTime"/>
  </xs:complexType>

  <xs:complexType name="versionItem">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="thumbnail" type="xs:anyURI"/>
      <xs:element name="image" type="xs:anyURI"/>
      <xs:element name="name" type="collection:versionName"/>
      <xs:element name="yearpublished" type="common:stringValue"/>
      <xs:element name="link" type="collection:link"/>
      <xs:element name="productcode" type="common:stringValue"/>
      <xs:element name="width" type="common:decimalValue"/>
      <xs:element name="length" type="common:decimalValue"/>
      <xs:element name="depth" type="common:decimalValue"/>
      <xs:element name="weight" type="common:decimalValue"/>
    </xs:choice>
    <xs:attribute name="type" type="collection:versionTypeEnum"/>
    <xs:attribute name="id" type="xs:integer"/>
  </xs:complexType>

  <xs:complexType name="version">
    <xs:sequence>
      <xs:element name="item" type="collection:versionItem"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="name" type="collection:name"/>
      <xs:element name="originalname" type="xs:string" minOccurs="0"/>
      <xs:element name="yearpublished" type="xs:string" minOccurs="0"/>
      <xs:element name="image" type="xs:anyURI" minOccurs="0"/>
      <xs:element name="thumbnail" type="xs:anyURI" minOccurs="0"/>
      <xs:element name="stats" type="collection:stats" minOccurs="0"/>
      <xs:element name="status" type="collection:status"/>
      <xs:element name="numplays" type="common:positiveInteger"/>
      <xs:element name="version" type="collection:version" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="objecttype" type="collection:itemTypeEnum"/>
    <xs:attribute name="objectid" type="xs:integer"/>
    <xs:attribute name="subtype" type="collection:itemSubtypeEnum"/>
    <xs:attribute name="collid" type="xs:integer"/>
  </xs:complexType>

  <xs:complexType name="items">
    <xs:sequence>
      <xs:element name="item" type="collection:item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="totalitems" type="common:positiveInteger"/>
    <xs:attribute name="termsofuse" type="xs:anyURI"/>
    <xs:attribute name="pubdate" type="common:zonedDateTime"/>
  </xs:complexType>

  <xs:element name="items" type="collection:items"/>

</xs:schema>
