src/main/xsd/v2/family.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="items" type="families"/>

  <xs:complexType name="families">
    <xs:sequence>
      <xs:element name="item" type="family" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="family">
    <xs:sequence>
      <xs:element name="thumbnail" type="xs:anyURI"/>
      <xs:element name="image" type="xs:anyURI"/>
      <xs:element name="name" type="name" maxOccurs="unbounded"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="link" type="link" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="name">
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="sortindex" type="xs:integer" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="link">
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="inbound" type="xs:boolean"/>
  </xs:complexType>

</xs:schema>
