src/main/xsd/v2/forum.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://bgg.naska.li/xml/common">
  <xs:import schemaLocation="../common.xsd" namespace="http://bgg.naska.li/xml/common"/>

  <xs:element name="forum" type="forum"/>

  <xs:complexType name="forum">
    <xs:sequence>
      <xs:element name="threads" type="threads" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="title" type="xs:string" use="required"/>
    <xs:attribute name="numthreads" type="xs:integer" use="required"/>
    <xs:attribute name="numposts" type="xs:integer" use="required"/>
    <xs:attribute name="lastpostdate" type="common:rfcZonedDateTime" use="required"/>
    <xs:attribute name="noposting" type="xs:boolean" use="required"/>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="threads">
    <xs:sequence>
      <xs:element name="thread" type="thread" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="thread">
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="subject" type="xs:string" use="required"/>
    <xs:attribute name="author" type="xs:string" use="required"/>
    <xs:attribute name="numarticles" type="xs:integer" use="required"/>
    <xs:attribute name="postdate" type="common:rfcZonedDateTime" use="required"/>
    <xs:attribute name="lastpostdate" type="common:rfcZonedDateTime" use="required"/>
  </xs:complexType>

</xs:schema>
