src/main/xsd/v2/forumlist.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://bgg.naska.li/xml/common">
  <xs:import schemaLocation="../common.xsd" namespace="http://bgg.naska.li/xml/common"/>

  <xs:element name="forums" type="forums"/>

  <xs:complexType name="forums">
    <xs:sequence>
      <xs:element name="forum" type="forum" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="forum">
    <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="groupid" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="title" type="xs:string" use="required"/>
    <xs:attribute name="noposting" type="xs:boolean" use="required"/>
    <xs:attribute name="description" type="xs:string" use="required"/>
    <xs:attribute name="numthreads" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="numposts" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="lastpostdate" type="common:optionalRfcZonedDateTime" use="required"/>
  </xs:complexType>

</xs:schema>
