src/main/xsd/v2/guild.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://bgg.naska.li/xml/common"
  xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb" jaxb:version="3.0">
  <xs:import schemaLocation="../common.xsd" namespace="http://bgg.naska.li/xml/common"/>

  <xs:annotation>
    <xs:appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="com.boardgamegeek.xml.guild.v2"/>
      </jaxb:schemaBindings>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="guild" type="guild"/>

  <xs:complexType name="guild">
    <xs:sequence>
      <xs:element name="category" type="xs:string"/>
      <xs:element name="website" type="xs:anyURI"/>
      <xs:element name="manager" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="location" type="location"/>
      <xs:element name="members" type="members" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="created" type="common:rfcZonedDateTime" use="required"/>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="location">
    <xs:sequence>
      <xs:element name="addr1" type="xs:string"/>
      <xs:element name="addr2" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="stateorprovince" type="xs:string"/>
      <xs:element name="postalcode" type="xs:string"/>
      <xs:element name="country" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="members">
    <xs:sequence>
      <xs:element name="member" type="member" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="page" type="xs:positiveInteger" use="required"/>
  </xs:complexType>

  <xs:complexType name="member">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="date" type="common:rfcZonedDateTime" use="required"/>
  </xs:complexType>

</xs:schema>
