src/main/xsd/v2/hot.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://bgg.naska.li/xml/common">
  <xs:import schemaLocation="../common.xsd" namespace="http://bgg.naska.li/xml/common"/>

  <xs:element name="items" type="items"/>

  <xs:complexType name="items">
    <xs:sequence>
      <xs:element name="item" type="item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="thumbnail" type="common:stringValue"/>
      <xs:element name="name" type="common:stringValue"/>
      <xs:element name="yearpublished" type="common:integerValue" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="rank" type="xs:positiveInteger" use="required"/>
  </xs:complexType>

</xs:schema>
