src/main/xsd/v2/person.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://bgg.naska.li/xml/common">
  <xs:import schemaLocation="../common.xsd" namespace="http://bgg.naska.li/xml/common"/>

  <xs:element name="items" type="persons"/>

  <xs:complexType name="persons">
    <xs:sequence>
      <xs:element name="item" type="person" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="person">
    <xs:sequence>
      <xs:element name="thumbnail" type="xs:anyURI"/>
      <xs:element name="image" type="xs:anyURI"/>
      <xs:element name="videos" type="videos" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="videos">
    <xs:sequence>
      <xs:element name="video" type="video" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="total" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="video">
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="title" type="xs:string" use="required"/>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="language" type="xs:string" use="required"/>
    <xs:attribute name="link" type="xs:anyURI" use="required"/>
    <xs:attribute name="username" type="xs:string" use="required"/>
    <xs:attribute name="userid" type="xs:integer" use="required"/>
    <xs:attribute name="postdate" type="common:zonedDateTime" use="required"/>
  </xs:complexType>

</xs:schema>
