src/main/xsd/v2/plays.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://bgg.naska.li/xml/common"
  xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb" jaxb:version="3.0">
  <xs:import schemaLocation="../common.xsd" namespace="http://bgg.naska.li/xml/common"/>

  <xs:annotation>
    <xs:appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="com.boardgamegeek.xml.plays.v2"/>
      </jaxb:schemaBindings>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="plays" type="plays"/>

  <xs:complexType name="plays">
    <xs:sequence>
      <xs:element name="play" type="play" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="username" type="xs:string" use="required"/>
    <xs:attribute name="userid" type="xs:integer" use="required"/>
    <xs:attribute name="total" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="page" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="play">
    <xs:sequence>
      <xs:element name="item" type="item"/>
      <xs:element name="comments" type="xs:string" minOccurs="0"/>
      <xs:element name="players" type="players" minOccurs="0">
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="date" type="common:localDate" use="required"/>
    <xs:attribute name="quantity" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="length" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="incomplete" type="xs:boolean" use="required"/>
    <xs:attribute name="nowinstats" type="xs:boolean" use="required"/>
    <xs:attribute name="location" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="players">
    <xs:sequence>
      <xs:element name="player" type="player" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="player">
    <xs:attribute name="username" type="xs:string" use="required"/>
    <xs:attribute name="userid" type="xs:integer" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="startposition" type="xs:string" use="required"/>
    <xs:attribute name="color" type="xs:string" use="required"/>
    <xs:attribute name="score" type="xs:string" use="required"/>
    <xs:attribute name="new" type="xs:boolean" use="required"/>
    <xs:attribute name="rating" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="win" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="subtypes" type="subtype" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="objecttype" type="xs:string" use="required"/>
    <xs:attribute name="objectid" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="subtype">
    <xs:sequence>
      <xs:element name="subtype" type="subtypeValue" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subtypeValue">
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
