src/main/xsd/v2/thing.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://bgg.naska.li/xml/common"
  xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb" jaxb:version="3.0">
  <xs:import schemaLocation="../common.xsd" namespace="http://bgg.naska.li/xml/common"/>

  <xs:annotation>
    <xs:appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="com.boardgamegeek.xml.thing.v2"/>
      </jaxb:schemaBindings>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="items" type="items"/>

  <xs:complexType name="items">
    <xs:sequence>
      <xs:element name="item" type="item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="item">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="thumbnail" type="xs:anyURI"/>
      <xs:element name="image" type="xs:anyURI"/>
      <xs:element name="name" type="name"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="yearpublished" type="common:integerValue"/>
      <xs:element name="datepublished" type="common:stringValue"/>
      <xs:element name="issueindex" type="common:integerValue"/>
      <xs:element name="minplayers" type="common:integerValue"/>
      <xs:element name="maxplayers" type="common:integerValue"/>
      <xs:element name="releasedate" type="common:localDateValue"/>
      <xs:element name="link" type="link"/>
      <xs:element name="seriescode" type="common:stringValue"/>
      <xs:element name="poll" type="poll"/>
      <xs:element name="playingtime" type="common:integerValue"/>
      <xs:element name="minplaytime" type="common:integerValue"/>
      <xs:element name="maxplaytime" type="common:integerValue"/>
      <xs:element name="minage" type="common:integerValue"/>
      <xs:element name="videos" type="videos"/>
      <xs:element name="versions" type="versions"/>
      <xs:element name="comments" type="comments"/>
      <xs:element name="statistics" type="statistics"/>
      <xs:element name="marketplacelistings" type="marketplacelistings"/>
    </xs:choice>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="name">
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="sortindex" type="xs:integer" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="link">
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="inbound" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="poll">
    <xs:sequence>
      <xs:element name="results" type="results" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="title" type="xs:string" use="required"/>
    <xs:attribute name="totalvotes" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="results">
    <xs:sequence>
      <xs:element name="result" type="result" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="numplayers" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="result">
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="numvotes" type="xs:integer" use="required"/>
    <xs:attribute name="level" type="xs:integer"/>
  </xs:complexType>

  <xs:complexType name="videos">
    <xs:sequence>
      <xs:element name="video" type="video" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="total" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="video">
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="title" type="xs:string" use="required"/>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="language" type="xs:string" use="required"/>
    <xs:attribute name="link" type="xs:anyURI" use="required"/>
    <xs:attribute name="username" type="xs:string" use="required"/>
    <xs:attribute name="userid" type="xs:integer" use="required"/>
    <xs:attribute name="postdate" type="common:zonedDateTime" use="required"/>
  </xs:complexType>

  <xs:complexType name="versions">
    <xs:sequence>
      <xs:element name="item" type="version" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="version">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="thumbnail" type="xs:anyURI"/>
      <xs:element name="image" type="xs:anyURI"/>
      <xs:element name="canonicalname" type="common:stringValue"/>
      <xs:element name="name" type="name"/>
      <xs:element name="yearpublished" type="common:integerValue"/>
      <xs:element name="link" type="versionLink"/>
      <xs:element name="productcode" type="common:stringValue"/>
      <xs:element name="width" type="common:decimalValue"/>
      <xs:element name="length" type="common:decimalValue"/>
      <xs:element name="depth" type="common:decimalValue"/>
      <xs:element name="weight" type="common:decimalValue"/>
    </xs:choice>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="versionLink">
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="inbound" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="comments">
    <xs:sequence>
      <xs:element name="comment" type="comment" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="page" type="xs:string" use="required"/>
    <xs:attribute name="totalitems" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="comment">
    <xs:attribute name="username" type="xs:string" use="required"/>
    <xs:attribute name="rating" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="statistics">
    <xs:sequence>
      <xs:element name="ratings" type="ratings" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="page" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="ratings">
    <xs:sequence>
      <xs:element name="usersrated" type="common:integerValue"/>
      <xs:element name="average" type="common:decimalValue"/>
      <xs:element name="bayesaverage" type="common:decimalValue"/>
      <xs:element name="ranks" type="ranks" minOccurs="0"/>
      <xs:element name="stddev" type="common:decimalValue"/>
      <xs:element name="median" type="common:decimalValue"/>
      <xs:element name="owned" type="common:integerValue"/>
      <xs:element name="trading" type="common:integerValue"/>
      <xs:element name="wanting" type="common:integerValue"/>
      <xs:element name="wishing" type="common:integerValue"/>
      <xs:element name="numcomments" type="common:integerValue"/>
      <xs:element name="numweights" type="common:integerValue"/>
      <xs:element name="averageweight" type="common:decimalValue"/>
    </xs:sequence>
    <xs:attribute name="date" type="common:localDate"/>
  </xs:complexType>

  <xs:complexType name="ranks">
    <xs:sequence>
      <xs:element name="rank" type="rank" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rank">
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="friendlyname" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:integer" use="required"/>
    <xs:attribute name="bayesaverage" type="xs:decimal" use="required"/>
  </xs:complexType>

  <xs:complexType name="marketplacelistings">
    <xs:sequence>
      <xs:element name="listing" type="listing" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listing">
    <xs:sequence>
      <xs:element name="listdate" type="common:rfcZonedDateTimeValue"/>
      <xs:element name="price" type="listingPrice"/>
      <xs:element name="condition" type="common:stringValue"/>
      <xs:element name="notes" type="common:stringValue"/>
      <xs:element name="link" type="listingLink"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listingPrice">
    <xs:attribute name="currency" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:decimal" use="required"/>
  </xs:complexType>

  <xs:complexType name="listingLink">
    <xs:attribute name="href" type="xs:anyURI" use="required"/>
    <xs:attribute name="title" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
