src/main/xsd/v2/thread.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="thread" type="thread"/>

  <xs:complexType name="thread">
    <xs:sequence>
      <xs:element name="subject" type="xs:string"/>
      <xs:element name="articles" type="articles" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="numarticles" type="xs:integer" use="required"/>
    <xs:attribute name="link" type="xs:anyURI" use="required"/>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="articles">
    <xs:sequence>
      <xs:element name="article" type="article" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="article">
    <xs:sequence>
      <xs:element name="subject" type="xs:string"/>
      <xs:element name="body" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="username" type="xs:string" use="required"/>
    <xs:attribute name="link" type="xs:anyURI" use="required"/>
    <xs:attribute name="postdate" type="xs:dateTime" use="required"/>
    <xs:attribute name="editdate" type="xs:dateTime" use="required"/>
    <xs:attribute name="numedits" type="xs:integer" use="required"/>
  </xs:complexType>

</xs:schema>
