src/main/xsd/v2/user.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://bgg.naska.li/xml/common">
  <xs:import schemaLocation="../common.xsd" namespace="http://bgg.naska.li/xml/common"/>

  <xs:element name="user" type="user"/>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="firstname" type="common:stringValue"/>
      <xs:element name="lastname" type="common:stringValue"/>
      <xs:element name="avatarlink" type="common:stringValue"/>
      <xs:element name="yearregistered" type="common:integerValue"/>
      <xs:element name="lastlogin" type="common:localDateValue"/>
      <xs:element name="stateorprovince" type="common:stringValue"/>
      <xs:element name="country" type="common:stringValue"/>
      <xs:element name="webaddress" type="common:stringValue"/>
      <xs:element name="xboxaccount" type="common:stringValue"/>
      <xs:element name="wiiaccount" type="common:stringValue"/>
      <xs:element name="psnaccount" type="common:stringValue"/>
      <xs:element name="battlenetaccount" type="common:stringValue"/>
      <xs:element name="steamaccount" type="common:stringValue"/>
      <xs:element name="marketrating" type="common:integerValue"/>
      <xs:element name="traderating" type="common:integerValue"/>
      <xs:element name="buddies" type="buddies" minOccurs="0"/>
      <xs:element name="guilds" type="guilds" minOccurs="0"/>
      <xs:element name="top" type="ranking" minOccurs="0"/>
      <xs:element name="hot" type="ranking" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="buddies">
    <xs:sequence>
      <xs:element name="buddy" type="buddy" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="total" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="page" type="xs:positiveInteger" use="required"/>
  </xs:complexType>

  <xs:complexType name="buddy">
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="guilds">
    <xs:sequence>
      <xs:element name="guild" type="guild" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="total" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="page" type="xs:positiveInteger" use="required"/>
  </xs:complexType>

  <xs:complexType name="guild">
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="ranking">
    <xs:sequence>
      <xs:element name="item" type="rankedItem" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="domain" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="rankedItem">
    <xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
