src/main/xsd/common.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://bgg.naska.li/xml/common"
  xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb" jaxb:version="3.0" targetNamespace="http://bgg.naska.li/xml/common">

  <xs:annotation>
    <xs:appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="li.naska.bgg.xml.common"/>
      </jaxb:schemaBindings>
    </xs:appinfo>
  </xs:annotation>

  <xs:simpleType name="optionalInteger">
    <xs:restriction base="xs:string">
      <!-- integer or empty string -->
      <xs:pattern value="(\d+|)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="optionalDecimal">
    <xs:restriction base="xs:string">
      <!-- decimal or empty string -->
      <xs:pattern value="(\d+(\.\d+)?|)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="localDate">
    <xs:restriction base="xs:string">
      <!-- 2020-01-11 -->
      <xs:pattern value="[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])"/>
      <xs:length value="10"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="optionalLocalDate">
    <xs:restriction base="xs:string">
      <!-- 2020-01-11 or empty string -->
      <xs:pattern value="([1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])|)"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="localDateTime">
    <xs:restriction base="xs:string">
      <!-- 2020-01-11 11:15:53 -->
      <xs:pattern value="[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d"/>
      <xs:length value="19"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="zonedDateTime">
    <xs:restriction base="xs:string">
      <!-- 2020-01-11T11:15:53+00:00 -->
      <xs:pattern
        value="[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])T([01]\d|2[0-3]):[0-5]\d:[0-5]\d([+-]([01]\d|2[0-3]):[0-5]\d|Z)"/>
      <xs:length value="25"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rfcZonedDateTime">
    <xs:restriction base="xs:string">
      <!-- Wed, 01 Apr 2020 19:50:39 +0000 -->
      <xs:pattern
        value="(Mon|Tue|Wed|Thu|Fri|Sat|Sun), (0[1-9]|[12]\d|3[01]) (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) [1-9]\d{3} ([01]\d|2[0-3]):[0-5]\d:[0-5]\d [+-]([01]\d|2[0-3])[0-5]\d"/>
      <xs:length value="31"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="integerValue">
    <xs:attribute name="value" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="decimalValue">
    <xs:attribute name="value" type="xs:decimal" use="required"/>
  </xs:complexType>

  <xs:complexType name="stringValue">
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="localDateValue">
    <xs:attribute name="value" type="common:localDate" use="required"/>
  </xs:complexType>

  <xs:complexType name="localDateTimeValue">
    <xs:attribute name="value" type="common:localDateTime" use="required"/>
  </xs:complexType>

  <xs:complexType name="zonedDateTimeValue">
    <xs:attribute name="value" type="common:zonedDateTime" use="required"/>
  </xs:complexType>

  <xs:complexType name="rfcZonedDateTimeValue">
    <xs:attribute name="value" type="common:rfcZonedDateTime" use="required"/>
  </xs:complexType>

</xs:schema>
