src/main/xsd/v1/boardgame.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://bgg.naska.li/xml/common">
  <xs:import schemaLocation="../common.xsd" namespace="http://bgg.naska.li/xml/common"/>

  <xs:element name="boardgames" type="boardgames"/>

  <xs:complexType name="boardgames">
    <xs:sequence>
      <xs:element name="boardgame" type="boardgame" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="boardgame">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="yearpublished" type="common:optionalInteger"/>
      <xs:element name="minplayers" type="common:optionalInteger"/>
      <xs:element name="maxplayers" type="common:optionalInteger"/>
      <xs:element name="playingtime" type="common:optionalInteger"/>
      <xs:element name="minplaytime" type="common:optionalInteger"/>
      <xs:element name="maxplaytime" type="common:optionalInteger"/>
      <xs:element name="age" type="common:optionalInteger"/>
      <xs:element name="name" type="name" maxOccurs="unbounded"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="thumbnail" type="xs:anyURI"/>
      <xs:element name="image" type="xs:anyURI"/>
      <xs:element name="boardgame" type="link"/>
      <xs:element name="boardgameaccessory" type="link"/>
      <xs:element name="boardgameartist" type="link"/>
      <xs:element name="boardgamecategory" type="link"/>
      <xs:element name="boardgamecompilation" type="link"/>
      <xs:element name="boardgamedesigner" type="link"/>
      <xs:element name="boardgamedeveloper" type="link"/>
      <xs:element name="boardgameeditor" type="link"/>
      <xs:element name="boardgameexpansion" type="link"/>
      <xs:element name="boardgamefamily" type="link"/>
      <xs:element name="boardgamegraphicdesigner" type="link"/>
      <xs:element name="boardgamehonor" type="link"/>
      <xs:element name="boardgameimplementation" type="link"/>
      <xs:element name="boardgameinsertdesigner" type="link"/>
      <xs:element name="boardgameintegration" type="link"/>
      <xs:element name="boardgameissue" type="link"/>
      <xs:element name="boardgameissueversion" type="link"/>
      <xs:element name="boardgamemechanic" type="link"/>
      <xs:element name="boardgameperiodical" type="link"/>
      <xs:element name="boardgamepodcast" type="link"/>
      <xs:element name="boardgamepodcastepisode" type="link"/>
      <xs:element name="boardgamepublisher" type="link"/>
      <xs:element name="boardgamesculptor" type="link"/>
      <xs:element name="boardgamesolodesigner" type="link"/>
      <xs:element name="boardgamesubdomain" type="link"/>
      <xs:element name="boardgameversion" type="link"/>
      <xs:element name="boardgamewriter" type="link"/>
      <xs:element name="cardset" type="link"/>
      <xs:element name="commerceweblink" type="link"/>
      <xs:element name="puzzle" type="link"/>
      <xs:element name="puzzlecategory" type="link"/>
      <xs:element name="puzzledesigner" type="link"/>
      <xs:element name="puzzlefamily" type="link"/>
      <xs:element name="puzzlehonor" type="link"/>
      <xs:element name="puzzlematerial" type="link"/>
      <xs:element name="puzzlemechanism" type="link"/>
      <xs:element name="puzzleproducer" type="link"/>
      <xs:element name="puzzletype" type="link"/>
      <xs:element name="puzzleversion" type="link"/>
      <xs:element name="rpg" type="link"/>
      <xs:element name="rpgartist" type="link"/>
      <xs:element name="rpgcategory" type="link"/>
      <xs:element name="rpgdesigner" type="link"/>
      <xs:element name="rpgfamily" type="link"/>
      <xs:element name="rpggenre" type="link"/>
      <xs:element name="rpghonor" type="link"/>
      <xs:element name="rpgitemversion" type="link"/>
      <xs:element name="rpgperiodical" type="link"/>
      <xs:element name="rpgpodcast" type="link"/>
      <xs:element name="rpgpodcastepisode" type="link"/>
      <xs:element name="rpgproducer" type="link"/>
      <xs:element name="rpgpublisher" type="link"/>
      <xs:element name="rpgseries" type="link"/>
      <xs:element name="rpgsetting" type="link"/>
      <xs:element name="rpgsystem" type="link"/>
      <xs:element name="vgcharacterversion" type="link"/>
      <xs:element name="videogamebg" type="link"/>
      <xs:element name="videogamecharacter" type="link"/>
      <xs:element name="videogamedeveloper" type="link"/>
      <xs:element name="videogameexpansion" type="link"/>
      <xs:element name="videogamefranchise" type="link"/>
      <xs:element name="videogamegenre" type="link"/>
      <xs:element name="videogamehonor" type="link"/>
      <xs:element name="videogamemode" type="link"/>
      <xs:element name="videogameplatform" type="link"/>
      <xs:element name="videogamepublisher" type="link"/>
      <xs:element name="videogameseries" type="link"/>
      <xs:element name="videogametheme" type="link"/>
      <xs:element name="videogameversion" type="link"/>
      <xs:element name="poll" type="poll"/>
      <xs:element name="poll-summary" type="pollSummary"/>
      <xs:element name="comment" type="comment"/>
      <xs:element name="statistics" type="statistics" minOccurs="0"/>
    </xs:choice>
    <xs:attribute name="objectid" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="subtypemismatch" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="name">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="primary" type="xs:boolean"/>
        <xs:attribute name="sortindex" type="xs:nonNegativeInteger" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="link">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="objectid" type="xs:nonNegativeInteger" use="required"/>
        <xs:attribute name="inbound" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="poll">
    <xs:sequence>
      <xs:element name="results" type="results" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="title" type="xs:string" use="required"/>
    <xs:attribute name="totalvotes" type="xs:nonNegativeInteger" use="required"/>
  </xs:complexType>

  <xs:complexType name="results">
    <xs:sequence>
      <xs:element name="result" type="pollResult" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="numplayers" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="pollResult">
    <xs:attribute name="level" type="xs:positiveInteger"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="numvotes" type="xs:nonNegativeInteger" use="required"/>
  </xs:complexType>

  <xs:complexType name="pollSummary">
    <xs:sequence>
      <xs:element name="result" type="pollSummaryResult" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="title" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="pollSummaryResult">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="comment">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="username" type="xs:string"/>
        <xs:attribute name="rating" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="statistics">
    <xs:sequence>
      <xs:element name="ratings" type="ratings"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ratings">
    <xs:sequence>
      <xs:element name="usersrated" type="xs:nonNegativeInteger"/>
      <xs:element name="average" type="xs:decimal"/>
      <xs:element name="bayesaverage" type="xs:decimal"/>
      <xs:element name="ranks" type="ranks" minOccurs="0"/>
      <xs:element name="stddev" type="xs:decimal"/>
      <xs:element name="median" type="xs:decimal"/>
      <xs:element name="owned" type="xs:nonNegativeInteger"/>
      <xs:element name="trading" type="xs:nonNegativeInteger"/>
      <xs:element name="wanting" type="xs:nonNegativeInteger"/>
      <xs:element name="wishing" type="xs:nonNegativeInteger"/>
      <xs:element name="numcomments" type="xs:nonNegativeInteger"/>
      <xs:element name="numweights" type="xs:nonNegativeInteger"/>
      <xs:element name="averageweight" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ranks">
    <xs:sequence>
      <xs:element name="rank" type="rank" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rank">
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="friendlyname" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="bayesaverage" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
