src/main/xsd/v1/search.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="boardgames" type="boardgames"/>

  <xs:complexType name="boardgames">
    <xs:sequence>
      <xs:element name="boardgame" type="boardgame" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="termsofuse" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <xs:complexType name="boardgame">
    <xs:sequence>
      <xs:element name="name" type="name"/>
      <xs:element name="yearpublished" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="objectid" type="xs:positiveInteger" use="required"/>
  </xs:complexType>

  <xs:complexType name="name">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="primary" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
