src/main/xsd/v1/thread.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
  jaxb:version="3.0">

  <xs:annotation>
    <xs:appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="com.boardgamegeek.xml.thread.v1"/>
      </jaxb:schemaBindings>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="rss" type="rss"/>

  <xs:complexType name="rss">
    <xs:sequence>
      <xs:element name="channel" type="channel"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="channel">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="image" type="image" minOccurs="0"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="language" type="xs:string"/>
      <xs:element name="pubDate" type="xs:string"/>
      <xs:element name="lastBuildDate" type="xs:string"/>
      <xs:element name="link" type="xs:string"/>
      <xs:element name="webMaster" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="image">
    <xs:sequence>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="link" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
